<header class="navbar">
    <div class="navbar-left">
        <a href="/">CL Store</a>
    </div>
    <div class="navbar-right">
        <div class="dropdown">
        <a href="/products">🛍️ Sản phẩm</a>
        <div class="dropdown-content">
            <a href="/products/category/<%= encodeURIComponent('Sản phẩm mới') %>">Sản phẩm mới</a>
            <a href="/products/category/<%= encodeURIComponent('Nam') %>">Sản phẩm Nam</a>
            <a href="/products/category/<%= encodeURIComponent('Nam') %>">Sản phẩm Nam</a>
            <a href="/products/category/<%= encodeURIComponent('Nữ') %>">Sản phẩm Nữ</a>
            <a href="/products/category/<%= encodeURIComponent('Trẻ em') %>">Sản phẩm Trẻ em</a>


        </div>
        </div>
        <a href="/cart">🛒  Giỏ hàng</a>
        <a href="/logout">🚪 Đăng xuất</a>
    </div>
</header>
